<!-- Main container -->
<div id="main">
	<!--form id="main" method="post" action="submit.php"-->
	<h1>My Study List</h1>

	<div id="services">
		<div class="blockdiv">

		</div>
		<!-- The services will be inserted here -->
	</div>

	<!--p id="total">total: <span>$0</span></p!-->
	<p>

	<!--input type="submit" id="order" value="Order" /-->
<div id="operation">
<button id="del" value="del">Delete</button><span><!--button id="order" value="Order">Order</button></span-->
</div>
	<!--/form-->
</div>