<div id="addForm">
  <h1>Use form below to add a new Protocol and timeline items</h1>
  
  <div>
	  <input  type="file" id="coverImage" name="photos[]" multiple="multiple">
	  <input type="hidden" id="fileName"><input type="hidden" id="fileData">

	  <hr size=1>
	  <input id="company" placeholder="Company Name"><input id="protocol" placeholder="Protocol"><button id="addProtocol" value="addProtocol">Add Protocol</button>
  </div>
  <!--div class="progress">
      <div class="progress-bar" role="progressbar"></div>
  </div-->
  <div id="gallery"></div>
</div>